@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --accent: #F57500;
  --text-color: #333;
  --text-opacity: rgba(255, 255, 255, 0.5);
  --dark: #303030;
  --deep: #252525;
  --white: #ffffff;
  --border-opacity: rgba(255, 255, 255, 0.1);
  --font-family: "Raleway", sans-serif;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --font-size: 16px;
  --line-height: 1.7;
  --size: 60px;
  --size-sm: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: var(--font-family);
}

a {
  text-decoration: none;
  color: inherit;
}